.album_section {
    display: flex;
    flex-direction: row;   
    justify-content: center;
}

.album-player {
  width: 350px;
  background: #2c2c2c;
  color: white;
  border-radius: 15px;
  padding: 1rem;
  font-family: sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.album-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.album-cover {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 1rem;
}

.big-album-cover {
  width: 344px;
  height: 344px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 1rem;
}

.album-info h2 {
  font-size: 1.2rem;
  margin: 0;
}

.album-info p {
  margin: 0.2rem 0;
  color: #aaa;
}

.play-btn {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 50%;
  border: none;
  background-color: white;
  color: #2c2c2c;
  cursor: pointer;
  transition: background 0.3s;
}

.play-btn:hover {
  transform: scale(1.1);
}

.track-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.track {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background 0.3s;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.track:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.track-number {
  width: 30px;
  text-align: center;
  font-weight: bold;
  color: #ccc;
  transition: opacity 0.2s;
}

.track:hover .track-number::before {
  content: "▶";
  color: #ccc;
  font-size: 16px;
}

.track:hover .track-number {
  color: transparent;
}

.track-info {
  flex-grow: 1;
  margin-left: 10px;
}

.track-title {
  display: block;
  font-weight: bold;
  color: #fff;
}

.track-artist {
  font-size: 0.9em;
  color: #aaa;
}

.track-duration {
  color: #ccc;
  font-weight: bold;
  min-width: 50px;
  text-align: right;
}

