.top-bar{
  position:fixed;
  top:0px;
  right: 0px;
  width: 100%;
  height: 80px;
background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
z-index: 1;
}


.menu-btn{
  position:fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  right: 0px;
  top:20px;
  height: 55px;
  z-index: 1;
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-size: 2.0rem;
  border-radius: 0 0 0 0px;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  transition: color 0.2s ease;
  transition: opacity 0.1s ease;
  opacity: 0;
  border: rgba(0, 0, 0, 0.644);
}

.disabled{
  pointer-events: none;
}

.menu-btn:hover{
  color:green;
}


.quit-menu-btn-container{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.quit-menu-btn{
    position:fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    top:20px;
    height: 55px;
    right: 6.5px;
    z-index: 1;
    color: black;  
    font-size: 2.0rem;  
    border: white;
    background-color: white;
    transition: color 0.2s ease;
    text-align: center;
    
}


.quit-menu-btn:hover{
  color:green;
}

.quit-menu-btn svg path{
    transition: stroke 0.2s ease;
}

.quit-menu-btn:hover svg path{
    stroke:green;
}


.menu-page{
    position: fixed;
    top: 0;
    right: -426px;
    background-color: white;
    color: black;
    width: 406px;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    transition: transform 0.5s ease;    
}

@media only screen and (max-width: 426px) {
    .menu-page{
        width: 97%;
    }

}

.menu-summary{
    width: 100%;
    height: 80%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: transform 0.9 ease;
} 

.menu-page[data-isshown="false"]{
    transform: translateX(0px);
}

.menu-page[data-isshown="true"]{
    transform: translateX(-426px);
}

.menu-summary a{
    font-size: 3.5rem;
    padding-bottom: 4px;
    padding-top:4px;
    color: rgb(0, 0, 0);
    transition: transform 0.5s ease;
    transition: color 0.2s ease;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-size: contain;

}

.menu-summary a:hover{
    color:green
}

.socials{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color:black;
    margin-bottom: 20px;
}

.instagram-link-menu{
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  gap: 0.4rem;
  font-size: 1rem;
  transition: color 0.2s ease;
  border-radius: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.instagram-link-menu:hover{
    color: green;
}


.email-menu {
  gap: 0.4rem;
  padding-right: 5px;
  padding-left: 5px;
  transition: color 0.2s ease;
}

.email-menu:hover{
    color: green;
}


div.email-menu > span:nth-child(2) {
	display: none;
}

@media (max-width: 750px) {
  .menu-summary a{
    font-size: 2.5rem;
  }
}
