
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #fdfdfd;
    color: #222;
    line-height: 1.6;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* assombrit la vidéo */
  z-index: 1;
}

/* Contenu par-dessus la vidéo */
.banner-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.banner-video {
    position: relative;
    width: 100%;
    height: 60vh;
    min-height: 400px;
    overflow: hidden;
}

.banner-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    gap: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 10000px;
    margin: 0 auto;
    z-index: 1;
    box-sizing: border-box;
    color: white;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}


.sub_header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;   
}

.logos_ecoles{
    display: flex;
    flex-flow: row nowrap;
}

.school-pic {
    width: 110px;
    height: 80px;
    object-fit: cover;
    margin-right: 1rem;
}


.header-left {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

.contact-btn {
    background-color: #222;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.95rem;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #444;
}

.scroll-container {
    text-align: center;
    margin-top: 2rem;
}

.scroll-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 0rem;
    display: inline-block;
}

.scroll-btn svg {
    width: 110px;
    height: 66.8px;
    fill: #222;
    transition: transform 0.3s;
}

.scroll-btn:hover svg {
    transform: translateY(4px);
}

.side-menu {
  position: fixed;
  top: 35%;
  right: -5.5%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5rem 0;
  border-radius: 8px 0 0 8px;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu li {
  margin: 1rem 0;
  padding: 0 1rem;
  white-space: nowrap;
}

.side-menu a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  transition: color 0.3s;
}

.side-menu .dot {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: transform 0.3s;
}

.side-menu .label {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.side-menu a:hover .dot {
  background: #ffffff;
  transform: scale(1.4);
}

.side-menu a:hover .label {
  font-weight: bold;
  color: #ffffff;
}

/* Lors du hover sur le menu entier */
.side-menu:hover {
  transform: translateX(-80px);
}

/* Lors du hover, on affiche les labels */
.side-menu:hover .label {
  opacity: 1;
  transform: translateX(0);
}

.side-menu a.active .dot {
  background: #00aced; /* couleur de surbrillance */
  transform: scale(1.5);
}

.side-menu a.active .label {
  font-weight: bold;
  color: #00aced;
}

@media only screen and (max-width: 770px) {
    .mobile-hidden {
        display: none;
    }
}

.section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    color: white;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    min-height: 300px;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: -2;
    transform: scale(1.05);
    transition: transform 0.5s ease;
    filter: blur(8px);
}

.section::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: background-color 0.3s ease;
}

.bg-lit::before {
    background-image: url('https://media.githubusercontent.com/media/TristanGomez32/Portfolio/refs/heads/main/img/le_lit_de_la_rivière.png');
}

.bg-sunbed::before {
    background-image: url('https://media.githubusercontent.com/media/TristanGomez32/Portfolio/refs/heads/main/img/sunbed.png');
}

.bg-litmo::before {
    background-image: url('https://media.githubusercontent.com/media/TristanGomez32/Portfolio/refs/heads/main/img/le_lit_de_la_rivière_making_of.png');
}

.bg-runlike::before {
    background-image: url('https://media.githubusercontent.com/media/TristanGomez32/Portfolio/refs/heads/main/img/run_like_a_girl.png');
}

.bg-skid::before {
    background-image: url('https://media.githubusercontent.com/media/TristanGomez32/Portfolio/refs/heads/main/img/skid.png');
}

.bg-colossus::before {
    background-image: url('https://media.githubusercontent.com/media/TristanGomez32/Portfolio/refs/heads/main/img/colossus.png');
}

.bg-lit::after {
    background-color: rgba(64, 130, 80, 0.4);
}

.bg-sunbed::after {
    background-color: rgba(165, 76, 25, 0.4);
}

.bg-litmo::after {
    background-color: rgba(60, 207, 97, 0.4);
}

.bg-runlike::after {
    background-color: rgba(100, 170, 235, 0.4);
}

.bg-skid::after {
    background-color: rgba(155, 148, 109, 0.404);
}

.bg-colossus::after {
    background-color: rgba(150, 150, 150, 0.4);
}

.section:hover::before {
    transform: scale(1.08);
}

.section:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
}

.text {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 0 0rem;
    z-index: 1;
}

.text h2 {
    font-size: 2.6rem;
    margin-bottom: 0.5rem;
}

.text p {
    font-size: 2.4rem;
    color: #f0f0f0;
    display: block;
}

span.line {
  display: inline-block;
}

.player {
    /*width: 800px;*/
    /*height: 450px;*/
    width: 80vh;
    /*margin: 4rem auto;*/
    margin:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.player h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.bandcamp {
    border: 0; 
    width: 100%; 
    max-width: 700px;
}

.youtube {
    border: 0; 
    width: 100%;
    height: 40vh;
}

.section-heading {
    text-align: center;
    font-size: 2rem;
    margin: 3rem auto 1.5rem;
    font-weight: 600;
    color: #222;
}

@media (max-width: 1429px) {

    .text {
    max-width: 100%;
    flex: 0 0 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 0rem;
    z-index: 1;
    }
}

@media (max-width: 800px) {

    .text p {
        font-size: 1.5rem;
        color: #f0f0f0;
        display: block;
    }

}

.instagram-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  gap: 0.4rem;
  font-size: 1rem;
  transition: opacity 0.3s;
  background-color: #22222288;
  border-radius: 10px;
  padding-right: 5px;
  padding-left: 5px;
  
}

.instagram-link:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.instagram-icon {
    width: 36px;
    height: 36px;
    transition: transform 0.3s;
}

.instagram-link:hover .instagram-icon {
    transform: scale(1.1);
}

.instagram-logo {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.instagram-id {
  font-weight: 500;
}

.demos {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  
  padding: 0;
  margin: 0;
  list-style: none;
}

.demo {
  /*
  background-image: url('./img/enceinte.png');
  background-position: 8px 8px;
  background-color: rgb(10, 124, 0);
  background-blend-mode: screen;
  */
  display: flex;
  flex-flow: column nowrap;
  min-width: 170px;
  max-width: 220px;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 46px;
  color: white;
  align-items: center;
  font-weight: bold;
  font-size: 3em;
  text-align: center; 
  flex-grow: 1;
  flex-basis: 0;
}

.audio-button-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}


.demo_audio_btn {
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.demo_audio_btn text{
    transform: translateY(-2px);
}

.demo_audio_btn:hover {
  transform: scale(1.1);
}

.demo_label {
    font-size: 16px;
}


.progress-ring {
  transform: rotate(-90deg); /* start from top */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.progress-ring-circle {
  transition: stroke-dashoffset 0.1s linear;
}


.albums {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.album_player {
    /*width: 800px;*/
    /*height: 450px;*/
    width: 80vw;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.footer {
  display: flex;
  justify-content: center;
  background-color: #111;
  padding: 1.5rem;
  text-align: center;
  color: white;
  margin-top: 3rem;
}

